@model TheEnd.Models.Course
@{
    ViewBag.Title = Model.Name;
}
<h2>Курс: @Model.Name</h2>
<div>
    <div class="col-lg-4">
        <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
        <h2>@Model.Name</h2>
        <p>@Model.ShortDesc</p>
        <p>Цена: @Model.Price.ToString("c")</p>
        <h3>Описание курса: </h3>
    </div>
    <p>@Model.LongDesc</p>
</div>